{{ $footer_logo := resources.Get "media/footer_logo.png" }}
  <div class="p-4">
    <div class="row">
      <!-- Contact Info Column -->
      <div class="col-md-3 mb-4 d-flex flex-column align-items-center">
        <img src="{{ $footer_logo.RelPermalink }}" alt="Site Footer" height="70px" width="200px" class="py-3">
        <p class="">Thank you for visiting our website</p>
      </div>
      <div class="col-md-3 mb-4">
        <h5 class="">Contact Info</h5>
        <p class="text-left mb-0"><i class="fas fa-map"></i>&nbsp; &nbsp;Guang Dong Sheng, Dong Guan Shi</p>
        <p class="text-left mb-0">&nbsp; &nbsp; &nbsp; &nbsp;Dongguan, China P.R. 523820</p>
        <p class="text-left mb-0"><i class="fas fa-phone"></i>&nbsp; &nbsp;+86 131XXXXXXXX</p>
        <p class="text-left mb-0">&nbsp; &nbsp; &nbsp; &nbsp;+86 15XXXXXXXXX</p>
        <p class="text-left mb-0"><i class="fas fa-envelope"></i><a href="mailto:sshmc.lab@gmail.com" class="text-decoration-none ">&nbsp; &nbsp; sshmc.lab@gmail.com</a></p>
      </div>

      <!-- Important Links Column -->
      <div class="col-md-3 mb-4">
        <h5 class="">Important Links</h5>
        <ul class="list-unstyled p-0 mb-0">
          <li class="mb-0 p-0"><a href="https://en.dgut.edu.cn/" class="text-decoration-none"><small>Donghuan University of Technology</small></a></li>
          <li><a href="https://en.dgut.edu.cn/" class="text-decoration-none mb-0"><small>Education Hall</small></a></li>
          <li><a href="https://en.dgut.edu.cn/" class="text-decoration-none mb-0"><small>School of Information Engineering</small></a></li>
          <li><a href="https://sshmclab.github.io/" class="text-decoration-none mb-0"><small>Website</small></a></li>
          <li><a href="./sitemap.xml" class="text-decoration-none mb-0"><small>Sitemap</small></a></li>
        </ul>
      </div>

      <!-- Social Media Column -->
      <div class="col-md-3 mb-4">
        <h5 class="">Follow Us on Social Media</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none"><i class="fab fa-facebook-f"></i><small>&nbsp; &nbsp;  Facebook</small></a></li>
          <li><a href="wechat.com/" class="text-decoration-none"><i class="fab fa-weixin"></i>&nbsp; <small>WeChat</small></a></li>
          <li><a href="#" class="text-decoration-none"><i class="fab fa-qq"></i>&nbsp; &nbsp;<small>QQ</small></a></li>
          <li><a href="https://www.youtube.com/@theanti-ordinaryequation7731" class="text-decoration-none"><i class="fab fa-youtube"></i>&nbsp; <small>YouTube</small></a></li>
          <li><a href="https://www.linkedin.com/company/" class="text-decoration-none"><i class="fab fa-linkedin"></i>&nbsp; &nbsp;<small>Linked In</small></a></li>
        </ul>
      </div>
    </div>

    <hr class="bg-light">

    <div class="row">
      <!-- Footer Text and Copyright -->
      <div class="col text-center">
        <p class="mb-0 ">&copy; 2024 Smart Structural Health Monitoring and Control Laboratory (SSHMC)</p>
        <p class="mb-0 ">Powered by <a href="https://github.com" class="text-info text-decoration-none">GitHub</a></p>
      </div>
    </div>
  </div>

    <!-- Hugo Conditional Translations -->
    {{ if .IsTranslated | and site.Params.footer.show_translations }}
    <div class="mt-4 text-center">
      <div class="text-gray-500"><i class="fas fa-globe"></i> {{ i18n "languages" }}:</div>
      <div>{{ index site.Data.i18n.languages .Lang }}</div>
      {{ range .Translations }}
      <a href="{{ .Permalink }}" class="text-blue-400 hover:underline">{{ index site.Data.i18n.languages .Lang }}</a>
      {{ end }}
    </div>
    {{ end }}

    <!-- Terms and Privacy -->
    {{ if or (site.GetPage "/terms.md") (site.GetPage "/privacy.md") }}
    <div class="mt-4 text-center">
      {{ with site.GetPage "/privacy.md" }}
      <a href="{{ .RelPermalink }}" class="text-blue-400 hover:underline">{{ .Title }}</a>
      {{ end }}
      {{ with site.GetPage "/terms.md" }}
      {{ if site.GetPage "/privacy.md" }} &middot; {{ end }}
      <a href="{{ .RelPermalink }}" class="text-blue-400 hover:underline">{{ .Title }}</a>
      {{ end }}
    </div>
    {{ end }}

    <!-- Footer Text -->
    {{ with site.Params.footer.text }}
    <div class="mt-4 text-center text-gray-500">
      {{ . | markdownify | emojify }}
    </div>
    {{ end }}
  </div>
